/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
    /* border: 1px solid red; */
 }
.app{
  /* margin: 5px; */
     /* border: 1px solid red; */

}
header  {
   width: 100%;
   background-color:#DDDDDD;
   font-family: Helvetica, sans-serif;
   /* padding: 18px; */
   border-radius: 3px;
   /* display: flex;
   align-items: baseline; */
      /* border: 1px solid red; */


}
.banner{
   /* border: 1px solid red; */
   /* display: inline-block; */
   float: none;
   width: 100%;
   display: inline-flex;
   align-items: baseline;
   padding-bottom: 10px;
   /* margin-top: 15px; */
}
a.aa{
   height: 30px;
   width: 30px;
   padding: 5px;
   margin-right: 5px;
}
img.logo {
   height: 30px;
   width: 30px;
   display: inline-block;
   float: left;
   /* margin: 10px 10px 10px 10px; */
   margin-top: 15px;
   margin-bottom: 10px;
   margin-left: 15px;
}
.header-links{
   margin-top: 15px;
   margin-left: 5px;
   display: flex;
   align-items: baseline;
}
.header-link{
   margin-top: 15px;
   font-family: Helvetica, sans-serif;
   display: inline-block;
   font-weight: 600;
   font-size: 18px;
   /* position: relative; */
   /* margin-top: 8px; */
   text-decoration: none;
   margin-left: 10px;
}
.albums-link{
   font-family: Helvetica, sans-serif;
   display: inline-block;
   font-weight: 600;
   font-size: 13px;
   margin-left: 15px;
   /* position: relative; */
   /* margin-top: 8px; */
   text-decoration: none;
}
.artists-link{
   font-family: Helvetica, sans-serif;
   display: inline-block;
   font-weight: 600;
   font-size: 13px;
   margin-left: 15px;
   /* position: relative; */
   /* margin-top: 8px; */
   text-decoration: none;
}
.song-link{
   font-family: Helvetica, sans-serif;
   display: inline-block;
   font-weight: 600;
   font-size: 13px;
   margin-left: 15px;
   /* position: relative; */
   /* margin-top: 8px; */
   text-decoration: none; 
}
.banner-clef{
   margin-left: 20px;
   font-size: 18px;
}
.wiki-link{
   font-family: Helvetica, sans-serif;
   display: inline-block;
   font-weight: 600;
   font-size: 13px;
   margin-left: 10px;
   /* position: relative; */
   /* margin-top: 8px; */
   text-decoration: none;
}

.header-group{
   font-family: Helvetica, sans-serif;
   margin-right: 10px;
   font-size: 13px;
   text-align: right;
   width: 100%;
   display: inline-block;
}
.header-name{
   margin-right: 25px;
}
.header-signout-button{
   background-color:#c63b00;
   color: white;
   font-size: 13px;
   width: 70px;
   /* margin-top: 5px; */
   margin-right: 0px;
   margin-left: 10px;
   margin-bottom: 5px;
   padding: 5px;
   text-align: center;
   border-radius: 3px;
   border: 3px solid #00a1c6;
}

.header-signout-button:hover{
   transform: scale(1.05)
}
.top-divider {
      height: 0;
      width: 200%;
      border-top: 2px dotted #ccc;
         border-top-width: 2px;
         border-top-style: dotted;
         border-top-color: rgb(204, 204, 204);
      margin: 36px 100px 28px 100px;     
}

.signin-signup{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    /* margin-top: 8px; */
    margin-right: 25px;
    width: 100%;
    text-align: right;
}
.demo-button{
   background-color: #00A1C6;
   color: white;
   width: 100px;
   padding: 5px;
   text-align: center;
   border: 3px solid #c66d00;
   border-radius: 3px;
   margin-bottom: 5px;
   margin-right: 25px;
}

.demo-button:hover{
   transform: scale(1.1)
}
.signin-form-container{
   background-color: #F3F3F3;
   min-height: 900px;
   text-align: left;
   font-family: Helvetica, sans-serif;
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   align-items:  center;
}

.signin-form{
   display: flex;
   flex-direction: column;
   align-items:  center;
   margin-top: 10px;
}
input.signin-input{
    height: 35px;
    margin: 10px 10px 10px 10px;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    outline: none;
    width: 320px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border 0.3s; 
    display: flex;
    align-self:  center;
   }
.signin-submit{
   background-color: #00A1C6;
   color: white;
   width: 300px;
   margin: 25px;
   padding: 10px;
   display: flex;
   text-align: center;
   border-radius: 3px
}

.signupstring{
   margin-top: 20px;
   padding: 40px;
   font-size: 18px;
   font-weight: 200;
}

.signup-form-container{
   background-color: white;
   min-height: 900px;
   text-align: left;
   font-family: Helvetica, sans-serif;
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   align-items:  center;
}

.signup-form{
   display: flex;
   flex-direction: column;
   align-items:  center;
   margin-top: 10px;
}
input.signup-input{
    height: 35px;
    margin: 10px 10px 10px 10px;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    outline: none;
    width: 320px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border 0.3s; 
    display: flex;
    align-self:  center;
   }
.signup-submit{
   background-color: #00A1C6;
   color: white;
   width: 300px;
   margin: 25px;
   padding: 10px;
   display: flex;
   text-align: center;
   border-radius: 3px;
}
.signup-submit-gray{
   background-color: #CCC;
   color: white;
   width: 300px;
   margin: 25px;
   padding: 10px;
   display: flex;
   text-align: center;
   border-radius: 3px;
}
.signup-checkbox{
   margin-right: 10px;
   margin-top: 10px;
   position: relative;
   top: 3px;
}

.signinstring{
   margin-top: 10px;
   padding: 20px;
   font-size: 18px;
   font-weight: 200;
}

.album-show{
   margin: auto;
   text-align: center;
   position: absolute;
   top: -100px;
   z-index: -50;
   filter: grayscale(0%);
   transition: all 2s ease;
}
.album-show:hover{
   filter: grayscale(100%);
   transition: all 2s ease-out;
}
.album-title{
   margin: 15px;
   font-weight: 700;
   font-size: 23px;
}
.album-art{
   /* width: 666px; */
   margin: 1px auto;
   width: 100%;
      /* border-radius: 3px; */
   
}
.album-art-div{
   width: 100%;
   position: relative;
   /* top: -150px;
   z-index: -50; */
   /* margin: 25px auto; */
    /* z-index: -50; */
}

.home-container{
}
/* .home-divider{
    height: 0;
   width: 75%;
   border-top: 2px dotted #ccc;
      border-top-width: 2px;
      border-top-style: dotted;
      border-top-color: rgb(204, 204, 204);
   /* margin: 36px 100px 28px 100px;      */
   /* margin-top: 15px; */
/* } */
.home-titles{
   margin-top: 50px;
   margin-left: 100px;
   margin-right: 15px;
   margin-bottom: 25px;
   font-size: 23px;
   font-style: oblique;
   /* font-weight: 700; */
}
.home-marquee{
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   border-radius: 3px;
}
.marquee-container{
   display: inline-block;
   margin-right: 25px;
   margin-left: 25px;
}
.marquee-image{
   width: 123px;
}
.garageband{
   width: 90%;
   margin: auto;
   border-radius: 3px;
}
.fans{
   width: 90%;
   margin: auto;
   border-radius: 3px;
   margin-bottom: 25px;
}
.artist-index{
   width: 100%;
   display: flex;
}
.artist-index-container{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   /* border: 3px solid #DDDDDD; */
   /* border-radius: 5px; */
   /* margin-left: 25px; */
   padding-top: 25px;
}
.artist-index-item{
   padding-left: 100px;
   margin-top: 25px;
   width: 400px;
   text-align: center;
   /* /* position: relative; */
   overflow: hidden;
}
.artist-index-image-div{
   /* width: 500px; */
   overflow: hidden;
   height: 250px;
   border-radius: 10px;
   display: block;

}
.artist-index-image-thumb{
   width: 400px;
   /* margin-top: 50px; */
   /* margin-bottom: 10px; */
   /* position: absolute; */
   display: block;
}
.artist-index-title{
   font-family: Helvetica, sans-serif;
   font-size: 36px;
   margin-top: 25px;
   margin-left: 100px;
   margin-bottom: 50px;
}
.artist-index-captions{
   font-size: 36px;
   font-weight: 700;
   /* margin-top: 15px; */
   font-family: Helvetica, sans-serif;
   position: absolute;
   /* left: -100px; */
   width: 300px;
   transition: 1s;
   display:  none;
   color: #DDDDDD;
}
.artist-index-item:hover .artist-index-captions{
   transition: 3s;
   /* left: 100px; */
   display: block;
   /* top: 5px; */
   /* font-size: 25px; */
   margin-top: -200px;
   margin-left: 25px;
   /* left: 0px; */
 text-shadow:
   /* -1px -1px 0 #000,   */
    -1px -1px 0 #000,
    -1px 1px 0 #000,
     2px 2px 0 #000;
}

.artist-show-container{
      display: flex;

}
.artist-show-background{

}
.artist-show{
   /* border: 2px solid red; */
   /* margin: auto; */
   width: 50%;
   text-align: center;
   /* border-radius: 50px; */
   /* display: flex; */
   /* align-items: baseline; */
   margin-top: 30px;
}
.artist-show-image{
   /* margin-top: 250px; */
   width: 50%;
   padding: 5px;
   /* margin-left:  auto; */
   margin-right:  50px;
   margin-top:  25px;
   display: inline-flex;
   border: 3px solid gray; 
   border-radius: 42px;
}
.song-list-intro{
   /* padding: 15px; */
   font-family: Helvetica, sans-serif;
   font-size: 18px;
}
.artist-name{
   font-size: 23px;
   margin-bottom: 5px;
}

.songs-list{
   margin-top: 15px;
   display: inline-block;
   text-align: left;
   /* width: 200px; */
   font-family: Helvetica, sans-serif;

}
.song-list-item{
   /* padding: 5px; */
   /* text-align: center; */
   margin-top: 5px;
   font-size: 15px;
}
.song-list-item:hover{
   /* text-shadow: 5px 5px solid chartreuse; */
   /* text-decoration: underline;    */
   /* font-size: 18px; */
   border-bottom: 2px solid #00A1C6;
   /* transition: 1s; */
}

.song-player{
   background-image: url("/tamtw.jpg");
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover;
   height: 900px;
   /* width: 100f%; */
}
.clef{
   font-size:  25px;
}

audio{
   width: 90%;
   /* height: 150px; */
   margin-left: 40px;
   margin-top: 150px;
   border-radius: 5px;
}