/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.app{
  margin: 5px;
}
header  {
    background-color:#DDDDDD;
    font-family: Helvetica, sans-serif;
    padding: 18px;
    border-radius: 3px;
}
img.logo {
   height: 30px;
   width: 30px;
   display: inline-block;
   float: left;
   margin-right: 5px;
   margin-top: 7px;
}
.header-link{
   font-family: Helvetica, sans-serif;
   display: inline-block;
   font-weight: 600;
   font-size: 18px;
   margin-left: 5px;
   position: relative;
   margin-top: 8px;
   text-decoration: none;
}
.albums-link{
   font-family: Helvetica, sans-serif;
   display: inline-block;
   font-weight: 600;
   font-size: 13px;
   margin-left: 15px;
   position: relative;
   margin-top: 8px;
   text-decoration: none;
}
.artists-link{
   font-family: Helvetica, sans-serif;
   display: inline-block;
   font-weight: 600;
   font-size: 13px;
   margin-left: 15px;
   position: relative;
   margin-top: 8px;
   text-decoration: none;
}
.header-group{
   font-family: Helvetica, sans-serif;
   display: inline-block;
   float: right;
   font-size: 13px;
   text-align: right;
}
.top-divider {
      height: 0;
      width: 200%;
      border-top: 2px dotted #ccc;
         border-top-width: 2px;
         border-top-style: dotted;
         border-top-color: rgb(204, 204, 204);
      margin: 36px 100px 28px 100px;     
}
.signin-signup{
    font-family: Helvetica, sans-serif;
    display: inline-block;
    float: right;
    font-size: 13px;
    margin-top: 8px;
}
.signin-form-container{
   background-color: #F3F3F3;
   min-height: 900px;
   text-align: left;
   font-family: Helvetica, sans-serif;
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   align-items:  center;
}

.signin-form{
   display: flex;
   flex-direction: column;
   align-items:  center;
   margin-top: 10px;
}
input.signin-input{
    height: 35px;
    margin: 10px 10px 10px 10px;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    outline: none;
    width: 320px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border 0.3s; 
    display: flex;
    align-self:  center;
   }
.signin-submit{
   background-color: #00A1C6;
   color: white;
   width: 300px;
   margin: 25px;
   padding: 10px;
   display: flex;
   text-align: center;
   border-radius: 3px
}

.signupstring{
   margin-top: 20px;
   padding: 40px;
   font-size: 18px;
   font-weight: 200;
}

.signup-form-container{
   background-color: white;
   min-height: 900px;
   text-align: left;
   font-family: Helvetica, sans-serif;
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   align-items:  center;
}

.signup-form{
   display: flex;
   flex-direction: column;
   align-items:  center;
   margin-top: 10px;
}
input.signup-input{
    height: 35px;
    margin: 10px 10px 10px 10px;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    outline: none;
    width: 320px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border 0.3s; 
    display: flex;
    align-self:  center;
   }
.signup-submit{
   background-color: #00A1C6;
   color: white;
   width: 300px;
   margin: 25px;
   padding: 10px;
   display: flex;
   text-align: center;
   border-radius: 3px;
}
.signup-submit-gray{
   background-color: #CCC;
   color: white;
   width: 300px;
   margin: 25px;
   padding: 10px;
   display: flex;
   text-align: center;
   border-radius: 3px;
}
.signup-checkbox{
   margin-right: 10px;
   margin-top: 10px;
   position: relative;
   top: 3px;
}

.signinstring{
   margin-top: 10px;
   padding: 20px;
   font-size: 18px;
   font-weight: 200;
}

.album-show{
   margin: auto;
   text-align: center;
}
.album-title{
   margin: 15px;
   font-weight: 700;
   font-size: 23px;
}
.album-art{
   width: 666px;
   margin: 10px auto;
}
.album-art-div{
   width: 666px;
   margin: 25px auto;
}
.artists-index{
   margin: 10px auto;
   font-size: 25px;
   text-align: center;
}

.home-container{
}
.home-titles{
   margin-top: 50px;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 25px;
   font-size: 20px;
   font-style: oblique;
}
.home-marquee{
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   border-radius: 3px;
}
.marquee-container{
   display: inline-block;
   margin-right: 25px;
   margin-left: 25px;
}
.marquee-image{
   width: 123px;
}
.garageband{
   width: 90%;
   margin: auto;
   border-radius: 3px;
}
.fans{
   width: 90%;
   margin: auto;
   border-radius: 3px;
   margin-bottom: 25px;
}

.songs-list{
   text-align: center;
}